* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(https://media.giphy.com/media/hxYmtE6C4wi2Y/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

#picbox {
	margin: 0px auto;
	width: 640px;
}
#boxcard {
	z-index: 1;
	margin: 10px 0 0;
}
#boxcard div{
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 4px solid lightblue;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
  background: clear;
	z-index: 2;
}
#boxcard div img {
	display: none;
	border-radius: 10px;
	z-index: 3;
}
#boxbuttons {
	text-align: center;
	margin: 20px;
	display: block;
}
#boxbuttons .button {
	text-transform: uppercase;
	background: lightblue;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}
#boxbuttons .button:hover {
	background: white;
}
}
.font {
	font-style: oblique;
}
* {
	box-sizing: border-box;
	letter-spacing: 1px;
	font;
}
body {
	background: url(https://media.giphy.com/media/hxYmtE6C4wi2Y/giphy.gif);
	background-size: cover;
}
h1 {
	font-size: 48px;
	margin: 15px 0;
	color: black;
}
.container {
	width: 1080px;
	margin: 25px auto;
}
.menu, .results {
	height: 275px;
	width: 350px;
	margin-top: -100px;
	margin-left: -175px;
	position: absolute;
	padding: 10px;
	left: 50%;
	top: 45%;
	text-align: center;
	color: blue;
	border: 5px solid lightblue;
	border-radius: 20px;
	box-shadow: 0 0 25px 5px #000;
	background-image: url(https://media.giphy.com/media/RiHcR76mXBUT6/giphy.gif);
	vertical-align: text-bottom;

}
.results {
	display: none;
	height: 335px;
	margin-top: -125px;
}
.results h2 {
	border-bottom: 2px solid black;
	padding-bottom: 4px;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
input, label {
	margin: 10px;
	width: 75%;
}
input[type=submit] {
	font-size: 16px;
	width: 50%;
	border: 3px solid lightblue;
	border-radius: 10px;
	padding: 10px;
	background: black;
	color: lightblue;
	outline: 0;
}
input[type=submit]:hover {
	cursor: pointer;
	box-shadow: 0 0 15px #fff;
}
input[type=text] {
	padding: 5px;
	font-size: 18px;
	border-radius: 10px;
	outline: 0;
	text-align: center;
}
.card {
	height: 200px;
	width: 150px;
	float: left;
	margin: 15px;
	border: 5px solid white;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
	background-size: cover;
}
.card:hover {
	cursor: pointer;
	border: 5px solid lightblue;
	box-shadow: 0 0 20px 3px #ffeaa0;
}
.card.selected {
	border: 5px solid #ffeaa0;
	box-shadow: 0 0 20px 3px #ffeaa0;
	transform: rotateY(180deg);
	transition: 0.5s;
}
.shake {
	animation-name: shake;
	animation-duration: .5s;
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	20%, 60% {transform: translateX(-30px);}
	40%, 80% {transform: translateX(30px);}
}

.card_back {
	background-image: url(https://media.giphy.com/media/by53jX0uIEP3W/giphy.gif);
}

